@media print {
    @page {
        size: auto;
        margin: 0;
    }
    body {
        margin: 1.6cm;
    }
    nav,
    .side-left,
    .btn-pagar,
    .btn-imprimir,
    hr,
    footer {
        display: none;
    }
    .container {
        padding-top: 0;
    }
    #ver-compra {
        width: 100%;
        max-width: 100%;
    }
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9 {
        float: left;
    }
    .col-md-7 {
        width: 58.33333333%;
    }
    .col-md-5 {
        width: 41.66666667%;
    }
    .portlet.light.portlet-fit {
        display: none;
    }
    a[href]:after {
        content: "";
    }
}